.game-title {
    text-align: center;
    font-size: x-large;
    color: #477998;
    margin: 5vh auto;
}

.game-info {
    margin: 0 0 1vh auto;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-inline: 15vw;
    margin-top: 5vh;
    height: 5vh;
    /* font-size: large; */
}

.status {
    margin-bottom: 10px;
}

ol,
ul {
    padding-left: 30px;
}

.description {
    margin: 0 0 10vh auto;
    display: flexbox;
    align-items: center;
    justify-content: center;
    font-size: medium;
    margin-inline: 15vw;
}

.win-red {
    font-family: neon;
    color: #fb4264;
    text-shadow: 0 0 3vw #f40a35;
    animation: win-red 1s ease infinite;
    -moz-animation: win-red 1s ease infinite;
    -webkit-animation: win-red 0.5s ease infinite;
}

.win-blue {
    font-family: neon;
    color: #426dfb;
    text-shadow: 0 0 3vw #2356ff;
    animation: win-blue 2s linear infinite;
    -moz-animation: win-blue 2s linear infinite;
    -webkit-animation: win-blue 2s linear infinite;
    -o-animation: win-blue 2s linear infinite;
}

.winner .win-red,
.winner .win-blue {
    font-size: 50px;
}

@keyframes win-red {
    0%,
    100% {
        text-shadow: 0 0 1vw #fa1c16, 0 0 3vw #fa1c16, 0 0 10vw #fa1c16, 0 0 10vw #fa1c16, 0 0 0.4vw #fed128,
            0.5vw 0.5vw 0.1vw #806914;
        color: #fed128;
    }
    50% {
        text-shadow: 0 0 0.5vw #800e0b, 0 0 1.5vw #800e0b, 0 0 5vw #800e0b, 0 0 5vw #800e0b, 0 0 0.2vw #800e0b,
            0.5vw 0.5vw 0.1vw #40340a;
        color: #806914;
    }
}

@keyframes win-blue {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff, 0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe,
            0.5vw 0.5vw 0.1vw #147280;
        color: #28d7fe;
    }
    50% {
        text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 0.2vw #082180,
            0.5vw 0.5vw 0.1vw #0a3940;
        color: #146c80;
    }
}

.new-button {
    margin-top: 7vh;
    text-shadow: 0 0 1vw #1079b9;
    border: none;
    color: white;
    font-size: 3vh;
}

.new-button:hover {
    text-shadow: 0 0 3vw white;
    color: #86a6b9;
}
