table,
th,
td {
    border-collapse: collapse;
    text-align: center;
    height: 70px;
    width: 70px;
    border-color: black;
    font-size: xx-large;
    font-weight: bold;
}

.square:hover {
    background-color: rgb(214, 211, 211);
}

.square:focus {
    outline: none;
}

.border0 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.border2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.border4 {
    border: 2px solid black;
}

.border6 {
    border-top: 2px solid black;
    border-right: 2px solid black;
}

.border8 {
    border-top: 2px solid black;
    border-left: 2px solid black;
}
